/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #000;
}

/* Global Style for Paragraphs */
p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  color: #333;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background: #000;
  color: #fff;
  padding: 1rem;
}

.logo {
  max-width: 50%;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #000;
  color: #fff;
}

#nav-items {
  display: none; /* Hidden by default */
  flex-direction: column;
  background: #000;
  padding: 0.5rem;
  border-radius: 8px;
  z-index: 10;
}

#nav-items.show-items {
  display: flex;
}

#nav-items li {
  list-style: none;
}

#nav-items li a {
  font-family: "Pattaya", sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
  color: #ffd601;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

#nav-items li a:hover {
  background-color: #ffd601;
  color: #000;
}

.toggle {
  font-size: 2.4rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: auto;
}

.hidden {
  display: none !important;
}

/* Hero */
.hero {
  height: 50vh;
  background-image: url("images/red-carpet-limo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-content h1 {
  font-family: "Pattaya";
  font-size: 2.8rem;
  letter-spacing: 1px;
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}

.hero-content {
  max-width: 600px;
  margin: 0 1rem 3rem auto;
  padding: 10px;
}

/* About Section */
.about {
  text-align: center;
  background: #f9f9f9;
  color: #000;
  padding: 6rem 2rem;
}

.about-content h2 {
  font-family: "Pattaya", sans-serif;
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: #000;
  text-shadow: 0 2px 4px rgba(222, 163, 13, 0.6);
}

.about-content p {
  font-size: 1.6rem;
  line-height: 1.8;
  max-width: 600px;
  margin: 0 auto 2rem auto;
}

.about-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.about-links .btn {
  background: #ffd601;
  color: #000;
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
}

.about-links .btn:hover {
  background: #daa520;
  transform: scale(1.05);
}

/* Services Section */
#about-preview,
#services,
#fleet {
  padding: 10rem 2rem;
}

#services h2,
#fleet h2,
#cta h2 {
  font-size: 2.4rem;
  font-family: "Pattaya";
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 1rem;
}

#services {
  text-align: center;
  padding: 4rem 2rem;
  background: #fff;
}

#services h2 {
  font-size: 3rem;
  font-family: "Pattaya", sans-serif;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
  color: #000;
  text-shadow: 0 2px 4px rgba(222, 163, 13, 0.6);
}

.service-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 60px;
  height: auto;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.8rem;
  color: #000;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1.4rem;
  color: #333;
}

/* Highlighted Card (Middle One) */
.card.highlight {
  background: #faf4e8;
  border-color: #dea30d;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Fleet Section */
#fleet {
  text-align: center;
  padding: 5rem 2rem;
  background: #f9f9f9;
}

#fleet h2 {
  color: #000;
  text-shadow: 0 2px 4px rgba(222, 163, 13, 0.6);
}

/* Fleet Section Carousel */
.carousel {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 3rem auto;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-card {
  flex: 0 0 100%;
  text-align: center;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-card img {
  width: 100%;
  border-radius: 10px;
}

.carousel-card h3 {
  margin-top: 1rem;
  font-size: 1.8rem;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 1rem;
  z-index: 10;
  border-radius: 50%;
}

.carousel-arrow.left {
  left: 10px;
}

.carousel-arrow.right {
  right: 10px;
}

/* CTA Section */
#cta {
  text-align: center;
  padding: 4rem 2rem;
  background: #000;
  color: #fff;
  border-top: 1px solid #dea30d;
}

#cta h2 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  font-family: "Pattaya", sans-serif;
}

#cta p {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

#cta button {
  background: #ffd601;
  color: #000;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 8px 6px 8px rgba(255, 255, 255, 0.4);
}

#cta button:hover {
  background: #daa520;
  transform: scale(1.05);
}

/* Footer Section */
footer {
  background: #000;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  border-top: 1px solid #ffd601;
}

.footer-content {
  max-width: 700px;
  margin: 0 auto;
}

.footer-content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer-content .social-icons {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 1rem;
}

.footer-content .social-icons a {
  color: #ffd601;
  font-size: 2rem;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.footer-content .social-icons a:hover {
  transform: scale(1.2);
  color: #dea30d;
}

.footer-content p {
  font-size: 1.4rem;
  color: #fff;
}

.footer-content a {
  color: #ffd601;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
  color: #dea30d;
}

.footer-content p:nth-last-child(1) {
  font-size: 1rem;
  color: #ccc;
}

/**************************************************************     
            --------   ABOUT PAGE   --------
**************************************************************/

/* Hero Video */
.hero-video {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: end;
  overflow: hidden;
}

.hero-video-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.hero-overlay {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  padding: 2rem;
}

.hero-overlay h1 {
  font-family: "Pattaya", sans-serif;
  font-size: 3.6rem;
  letter-spacing: 1.5px;
  margin-bottom: 1.5rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-overlay p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #faf4e8;
  margin-top: 1rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* About Teaser Section */
.about-teaser {
  position: relative;
  padding: 6rem 2rem;
  background: linear-gradient(135deg, #fff 55%, #f9f9f9 45%);
  color: #000;
  text-align: center;
}

.about-teaser h2 {
  font-family: "Pattaya", sans-serif;
  font-size: 3rem;
  color: #000;
  text-shadow: 0 2px 4px rgba(222, 163, 13, 0.6);
  margin-bottom: 1.5rem;
}

.about-teaser p {
  font-size: 1.6rem;
  line-height: 1.8;
  max-width: 600px;
  margin: 0 auto 2rem auto;
  text-align: justify;
  word-wrap: break-word;
}

.about-teaser .btn {
  background: #ffd601;
  color: #000;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
}

.about-teaser .btn:hover {
  background: #daa520;
  transform: scale(1.05);
}

/* Fleet Section */
/* Red Carpet Animation */
.red-carpet {
  position: relative;
  width: 0%;
  height: 10px;
  background-color: #e82a32; /* Red carpet color */
  margin: 1rem auto;
  animation: rollOut 2s ease-out forwards;
}

@keyframes rollOut {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#fleet {
  text-align: center;
  padding: 5rem 2rem;
}
#fleet h2 {
  text-align: center;
  font-family: "Pattaya", sans-serif;
  font-size: 3rem;
  color: #000;
  margin-bottom: 2rem;
}

.fleet-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fleet-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 400px;
  width: 100%;
}

.fleet-card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.fleet-card img {
  width: 100%;
  height: auto;
}

.fleet-details {
  margin-top: 1rem;
  padding: 2rem;
}

.fleet-details h3 {
  font-size: 1.8rem;
  font-family: "Pattaya", sans-serif;
  color: #333;
  margin-bottom: 1rem;
}

.fleet-details ul {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: #555;
  line-height: 1.8;
}

.fleet-details ul li {
  margin-bottom: 0.5rem;
}

.fleet-card li:last-child {
  font-size: 1.4rem;
  color: #555;
  font-style: italic;
}

.fleet-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 10rem 2rem;
}

.fleet-gallery img {
  flex: 1 1 calc(33.33% - 1.5rem);
  max-width: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 0.5rem 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  aspect-ratio: 16 / 9;
}

.fleet-gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox-content {
  position: relative;
  max-width: 90%;
}

.lightbox-slide {
  display: none;
  width: 100%;
  border-radius: 10px;
}

.lightbox .close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

.lightbox .prev,
.lightbox .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.lightbox .prev {
  left: 10px;
}

.lightbox .next {
  right: 10px;
}

/* Web Table */
#fleet-table {
  display: none;
  text-align: center;
  background: #f9f9f9;
}

#fleet-table h2 {
  font-family: "Pattaya", sans-serif;
  font-size: 3rem;
  color: #000;
  margin-bottom: 2rem;
}

table {
  width: 85%;
  border-collapse: collapse;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

th, td {
  border: 1px solid #000;
  padding: 1rem;
  text-align: left;
  font-size: 1.4rem;
}

th {
  background: #ffd601;
  color: #000;
  font-weight: bold;
  text-align: center;
}

td {
  background: #fff;
}

tr:nth-child(even) td {
  background: #f2f2f2;
}

table tr:hover td {
  background: #fef7d9;
}

/* Full About Section */
.about-details {
  padding: 8rem 5rem;
  text-align: center;
}

.about-details h2 {
  font-family: "Pattaya", sans-serif;
  font-size: 3rem;
  color: #000;
  text-shadow: 0 2px 4px rgba(222, 163, 13, 0.6);
  margin-bottom: 2rem;
}

.about-details p {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  color: #333;
  text-align: justify;
  word-wrap: break-word;
}

/**************************************************************     
            --------   CONTACT PAGE   --------
**************************************************************/
/* Hero Section - Contact */
.hero-contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 4rem 2rem;
}

.hero-layout {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.hero-image {
  display: none;
  flex: 1;
}

.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.hero-contact h1 {
  font-family: "Pattaya", sans-serif;
  font-size: 3.6rem;
  text-shadow: 0 2px 4px rgba(222, 163, 13, 0.6);
}

.hero-contact p {
  font-size: 1.8rem;
  margin-top: 1rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Contact Form */
#contact-form {
  padding: 5rem 2rem;
  background: #f9f9f9;
  text-align: center;
}

#contact-form h2 {
  font-family: "Pattaya", sans-serif;
  font-size: 3.6rem;
  margin-bottom: 2rem;
  color: #000;
  text-shadow: 0 2px 4px rgba(222, 163, 13, 0.6);
}

#contact-form form {
  max-width: 600px;
  margin: 0 auto;
}

#contact-form label {
  display: block;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.4rem;
}

#contact-form button {
  background: #dea30d;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contact-form button:hover {
  background: #daa520;
}

/* Google Maps */
#google-maps {
  padding: 5rem 2rem;
  border-radius: 10px 40px;
}

#google-maps h2 {
  font-family: "Pattaya", sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 0 2px 4px rgba(222, 163, 13, 0.6);
  color: #000;
}

.map-description {
  display: none;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.map-container iframe {
  border-radius: inherit;
}

/**************************************************************
***************************************************************     
            --------   MEDIA QUERIES   --------
***************************************************************
**************************************************************/
@media (min-width: 768px) {
  header {
    height: 20vh;
  }

  #nav-items {
    display: flex !important;
    flex-direction: row;
    gap: 3rem;
    background: none;
    box-shadow: none;
  }

  .toggle {
    display: none; /* Hide hamburger menu */
  }
  /**************************************************************     
            --------   HOMEPAGE - TABLET  --------
**************************************************************/
  .hero {
    height: 80vh;
  }

  #about-preview,
  #services,
  #fleet {
    padding: 6rem 4rem 10rem 4rem;
  }

  /* Typography */
  #services h2,
  .about-content h2,
  #fleet h2,
  #cta h2 {
    font-size: 3.6rem;
  }

  .service-cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .card {
    flex: 1 1 calc(33.33% - 2rem);
    max-width: 300px;
  }

  /**************************************************************     
            --------   ABOUT PAGE - TABLET  --------
**************************************************************/
  .hero-overlay {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    text-align: right;
    max-width: 80%;
  }

  .hero-overlay h1 {
    font-size: 4rem;
  }

  #fleet {
    text-align: center;
    padding: 5rem 2rem;
    background: #f9f9f9;
  }

  #fleet h2 {
    font-family: "Pattaya", sans-serif;
    font-size: 3.6rem;
    margin-bottom: 3rem;
  }

  /* Fleet Cards: Horizontal Layout */
  .fleet-gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .fleet-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
    width: 90%;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .fleet-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .fleet-card img {
    max-width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 0 8px 8px 0;
  }

  .fleet-details {
    flex: 1;
    padding: 2rem;
    text-align: left;
  }

  .fleet-details h3 {
    font-size: 2rem;
    font-family: "Pattaya", sans-serif;
    color: #333;
    margin-bottom: 1rem;
  }

  .fleet-details ul {
    list-style: none;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    color: #555;
    line-height: 1.8;
  }

  .fleet-details ul li {
    margin-bottom: 0.5rem;
  }

  .fleet-details ul li:last-child {
    font-size: 1.4rem;
    color: #777;
    font-style: italic;
  }

  .about-details {
    padding: 10rem 6rem;
  }

  .about-details h2 {
    font-size: 3.6rem;
  }

  .about-details p {
    margin: 2rem 0;
    padding: 0 5rem;
    text-align: start;
    word-wrap: normal;
  }

  /**************************************************************     
            --------   CONTACT PAGE - TABLET   --------
**************************************************************/
  /* Hero Section */
  .hero-contact {
    height: 60vh;
    justify-content: flex-start;
    padding: 0 4rem;
    text-align: left;
  }

  .hero-contact h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  .hero-contact p {
    font-size: 2rem;
    max-width: 70%;
  }

  /* Contact Form */
  #contact-form {
    padding: 6rem 4rem;
  }

  #contact-form h2 {
    font-size: 3.6rem;
  }

  /* Google Maps Section */
  #google-maps {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content */
    align-items: center;
    padding: 10rem 8rem;
  }

  #google-maps h2 {
    font-family: "Pattaya", sans-serif;
    font-size: 4rem;
    color: #000;
    margin-bottom: 4rem;
    text-shadow: 0 2px 4px rgba(222, 163, 13, 0.6);
  }

  .map-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  .map-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
  }
}

/**************************************************************     
            --------   HOMEPAGE - DESKTOP   --------
**************************************************************/
@media (min-width: 1200px) {
  header {
    height: 25vh;
  }

  #nav-items li a {
    font-size: 2.2rem;
  }

  .hero {
    height: 70vh;
  }

  .hero-content {
    max-width: 80%;
  }

  .hero h1 {
    font-size: 4.8rem;
  }

  /* About Section */
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 4rem 2rem;
  }

  .about-content p {
    max-width: 50%;
  }

  .about-links {
    flex-direction: row;
    gap: 2rem;
  }

  #services {
    padding: 10rem 8rem;
  }

  #services h2 {
    text-align: left;
  }

  /* CTA section */
  #cta {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10rem 4rem;
  }

  #cta p {
    max-width: 40%;
  }

  .cta-buttons {
    flex-direction: row;
    gap: 4rem;
  }

  /**************************************************************     
            --------   ABOUT PAGE - DESKTOP   --------
**************************************************************/
  header {
    height: 25vh;
  }

  .about-content {
    padding-top: 7rem;
  }

  .about-content h2 {
    padding-left: 1.5rem;
  }

  #fleet {
    padding: 10rem 8rem;
  }

  #fleet h2 {
    text-align: left;
  }

  .fleet-gallery {
    display: block;
    justify-content: left;
  }

  .fleet-card {
    width: 90%;
  }

  .fleet-details h3 {
    font-size: 2.6rem;
  }

  .fleet-details ul li {
    font-size: 1.8rem;
  }

  #fleet-table {
    display: block;
  }

  .about-details {
    text-align: left;
    padding: 10rem 8rem;
  }

  .about-details p {
    padding: 0 10rem;
  }

  /**************************************************************     
            --------   CONTACT PAGE - DESKTOP   --------
**************************************************************/
  .hero-image {
    display: block;
  }

  #contact-form {
    padding: 10rem 4rem;
  }

  .form-container {
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 3rem;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
  }

  #contact-form h2 {
    font-size: 4rem;
    margin-bottom: 2.5rem;
  }

  #contact-form input,
  #contact-form textarea {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  #contact-form button {
    font-size: 1.8rem;
    padding: 1.2rem 3rem;
    background: #FFD601;
    color: #000;
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4); 
  }

  #contact-form button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  #google-maps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    padding: 6rem 4rem;
  }

  .map-description {
    display: block;
    padding: 1rem 3rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    color: #333;
    line-height: 1.8;
    text-align: justify;
  }
}
